@font-face {
	font-family: 'myfont';
	src: url('../fonts/9404.eot');
	src: local('☺'), url('../fonts/9404.woff') format('woff'), url('../fonts/9404.ttf') format('truetype'), url('../fonts/9404.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family: "Segoe UI";
    max-width: 1000px;
    margin: 0 auto;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
header {
    padding-top: 25px;
}
.logo {
    float: left;
}
.navigation {
    float: right;
}
nav > ul > li {
    display: inline-block;
    width: 84px;
    text-align: center;
    margin-top: 17px;
    padding: 10px;
}
nav > ul > li > a {
    text-decoration: none;
    color: #595756;
}
/* nav ul li a:hover {
    color: #d44a26;
} */
.li1 {
    border-bottom: 2px solid  #2d89ef;
}
.hover1:hover {
    color: #2d89ef;
}
.li2 {
    border-bottom: 2px solid #603cba;
    position: relative;
}
.hover2:hover {
    color: #603cba;
}
.li2::after {
    content: "";
    top: 36px;
    left: 46px;
    position: absolute;
    border: 6px solid transparent;
    border-top-color: #603cba;
}
.li3 {
    border-bottom: 2px solid #01a31c;
}
.hover3:hover {
    color: #01a31c;
}
.li4 {
    border-bottom: 2px solid #d44a26;
}
.hover4:hover {
    color: #d44a26;
}
.li5 {
    border-bottom: 2px solid #f0a427;
}
.hover5:hover {
    color: #f0a427;
}
main {
    padding-top: 25px;
}
main > h1 {
    color: #595756;
    font-size: 36px;
    font-weight: 300;
    line-height: 50px;
}
.forh1{
    float: left;
}
.downloadprice {
    margin-left: 81px;
    width: 229px;
    height: 38px;
    background-color: #0064cd;
    border: none;
    color: white;
    text-decoration: underline;
    outline: inherit;
    float: left;
    text-align: left;
    margin-top: 5px;
}
input[type=search] {
    margin-left: 27px;
    background-color: white;
    padding-left: 15px;
    width: 229px;
    height: 38px;
    border: 1px solid #cccccc;
    outline: inherit;
    position: absolute;
    margin-top: 5px;
}
.buttonsearch {
    position: relative;
    width: 6px;
    height: 21px;
    border: 3px solid #ccc;
    outline: none;
    background: transparent;
    border-radius: 28px;
    left: 217px;
    top: 8px;
    cursor: pointer;
}
.buttonsearch::before {
    content: "";
    width: 12px;
    height: 7px;
    border-top: 3px solid #cccccc;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    top: 16px;
    left: 10px;
}
.buttonsmain {
    position: absolute;
}
.prod-description {
    margin-top: 25px;
    background-color: #603cba;
    width: 486px;
    height: 114px;
    position: relative;
}
.prod-description::before {
    content: url('../images/copy_2.png');
    position: absolute;
    left: 17px;
    top: 15px;
}
.prod-description > h2 {
    color: #ffffff;
    font-size: 18px;
    padding-left: 70px;
    padding-top: 15px;
}
.bluelink {
    position: absolute;
    width: 27px;
    height: 27px;
    border: 2px solid #ffffff;
    border-radius: 27px;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}
.bluelink::before {
    content: "";
    border: solid white;
    border-width: 0 13px 2px 3px;
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 6px;
}
.bluelink::after {
    content: "";
    width: 7px;
    height: 7px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    bottom: 10px;
    right: 6px;
}
.gb {
    float: left;
}
.greensect {
    margin-top: 25px;
    width: 300px;
    height: 70px;
    background-color: #00a300;
    position: relative;
}
.greensect::before {
    content: url('../images/Layer_13.png');
    top: 17px;
    left: 17px;
    position: absolute;
}
.greensect > h2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    padding-left: 71px;
    padding-top: 18px;
}
.greensect > p {
    font-size: 12px;
    color: #ffffff;
    padding-left: 70px;
    padding-top: 12px;
}
.bluesect {
    margin-top: 25px;
    width: 300px;
    height: 70px;
    background-color: #2b5797;
    position: relative;
}
.bluesect::before {
    content: url('../images/grid_view.png');
    top: 17px;
    left: 17px;
    position: absolute;
}
.bluesect > h2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    padding-left: 71px;
    padding-top: 18px;
}
.bluesect > p {
    font-size: 12px;
    color: #ffffff;
    padding-left: 71px;
    padding-top: 8px;
}
.yellowsect {
    margin-top: 25px;
    margin-left: 28px;
    width: 158px;
    height: 165px;
    background-color: #ffc40d;
    position: relative;
    float: left;
}
.yellowsect::before {
    content: url('../images/video.png');
    top: 17px;
    left: 17px;
    position: absolute;
}
.yellowsect > h2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    padding-left: 66px;
    padding-top: 18px;
}
.yellowsect > p {
    font-size: 12px;
    color: #ffffff;
    padding-left: 67px;
    padding-top: 5px;
}
.yellowlink {
    position: absolute;
    width: 27px;
    height: 27px;
    border: 2px solid #ffffff;
    border-radius: 27px;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}
.yellowlink::before {
    content: "";
    border: solid white;
    border-width: 0 13px 2px 3px;
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 6px;
}
.yellowlink::after {
    content: "";
    width: 7px;
    height: 7px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    bottom: 10px;
    right: 6px;
}
.imgwrapper {
    position: relative;
    width: 486px;
    height: 299px;
    border: 3px solid #f1f1f1;
    background-color: #ffffff;
    float: right;
    top: 24px;
}
.mainproduct {
    margin-top: 50px;
}
.mainproduct > h2 {
    font-size: 24px;
    font-weight: 300;
    line-height: 50px;
}
.mainproduct > p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 10px;
}
.greencontainer {
    border: 1px solid #cccccc;
    border-left: 19px solid #00a300;
}
.greencontainer > h2 {
    color: #00a300;
    font-size: 24px;
    font-weight: 300;
    line-height: 50px;
}
.greencontainer > p {
    font-size: 14px;
    line-height: 18px;
}
.yellowcontainer {
    border: 1px solid #cccccc;
    border-left: 19px solid #ffc40d;
}
.yellowcontainer > h2 {
    color: #ffc40d;
    font-size: 24px;
    font-weight: 300;
    line-height: 50px;
}
.yellowcontainer > p {
    font-size: 14px;
    line-height: 18px;
}
.bluecontainer {
    border: 1px solid #cccccc;
    border-left: 19px solid #2d89ef;
}
.bluecontainer > h2 {
    color: #2d89ef;
    font-size: 24px;
    font-weight: 300;
    line-height: 50px;
}
.bluecontainer > p {
    font-size: 14px;
    line-height: 18px;
}
.mainsect {
    margin-top: 25px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 25px;
}
.formheader {
    height: 74px;
    background-color: #c3325f;
    margin-top: 25px;
    position: relative;
}
.formheader::after {
    content: "";
    top: 63px;
    left: 26px;
    position: absolute;
    border: 10px solid transparent;
    border-top-color: #c3325f;
    transform: rotate(125deg);
}
.formheader > p {
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    padding-left: 52px;
    padding-top: 16px;
    line-height: 18px;
}
.formheader::before {
    content: url('../images/paper_plane.png');
    top: 17px;
    left: 16px;
    position: absolute;
}
.footerform {
    background-color: #f1f1f1;
    padding-left: 17px;
    padding-top: 20px;
    padding-bottom: 12px;
    height: 200px;
}
.select {
    appearance: none;
    position: relative;
}
.select:before {
    content: "";
    border: solid transparent;
    border-image: linear-gradient(#F5F5F5, #C0C0C0);
    border-width: 14px 13px 0px 5px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 6px;
    box-shadow: 0px 0px 0px 1px #000000;
}
.select:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
    position: absolute;
    top: 15px;
    right: 10px;
}
.select select {
    display: block;
    width: 320px;
    height: 36px;
    background: white;
    border: 2px solid #bababa;
    appearance: none;
    outline: inherit;
}
input[type=name] {
    width: 310px;
    height: 31px;
    margin-top: 15px;
}
input[type=email] {
    width: 310px;
    height: 31px;
    margin-top: 15px;
}
input[type=tel] {
    width: 310px;
    height: 31px;
    margin-top: 15px;
}
textarea {
    width: 628px;
    height: 136px;
    resize: none;
    margin-top: 0px;
    margin-left: 15px;
}
form input {
    border: 2px solid #bababa;
    background-color: #ffffff;
    outline: inherit;
    color: #000000;
    font-family: "Segoe UI";
    font-size: 14px;  
    line-height: 14px;
    padding-left: 5px;
}
input::placeholder {
    color: #444;
    font-size: 14px;
    font-family: "Segoe UI";  
    opacity: 1;
}
form textarea {
    border: 2px solid #bababa;
    background-color: #ffffff;
    outline: inherit;
    font-family: "Segoe UI";
    font-size: 14px;  
    font-weight: 400;
    line-height: 14px;
    color: #000000;
    padding-left: 5px;
}
textarea::placeholder {
    color: #444;
    opacity: 1;
}
.floatleft {
    float: left;
}
.buttonform {
    width: 114px;
    height: 36px;
    background-color: #c3325f;
    border: none;
    color: #ffffff;
    font-size: 12px;
    margin-top: 15px;
    margin-left: 16px;
}
.copyright {
    margin-top: 28px;
    margin-bottom: 34px;
    background-color: #f1f1f1;
    padding-left: 17px;
    padding-top: 25px;
    font-size: 12px;
    height: 40px;
    
}